@import url("https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css");

.card-title + p {
  display: none !important;
}

.title-wrapper {
  overflow: hidden;
  margin-bottom: 16px;
}

.payment-section {
  min-width: 300px;
  max-width: 403px;
  margin: 0 auto;
  padding: 0 8px;
}

.page-title {
  font-size: 18px;
  color: #333;
  margin: 0;
  padding-bottom: 12px;
  padding-right: 6px;
}

.page-title-line {
  background-color: #2953C6;
  width: 95px;
  height: 3px;
}

.payments-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.payment-option {
  border: 1px solid #D8D8D8;
  border-radius: 8px;
}

.payment-option .payment-label {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.payment-input {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  position: absolute;
}

.payment-option .radio-mark {
  border: 2px solid #D8D8D8;
  width: 24px;
  height: 24px;
  min-width: 24px;
  border-radius: 100%;
  margin: 19px 12px 19px 24px;
}

input:checked + .payment-option {
  border: 2px solid #2953C6;
}

input:checked + .payment-option .radio-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #2953C6;
}

input:checked + .payment-option .radio-mark:before {
  content: "";
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background: #2953C6;
}

.blik-code-section {
  height: 0;
  overflow: hidden;
  transition: height 0.1s ease-in;
  margin: 0 24px;
}

.blik-code-section .blik-code-label {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
}

.blik-code-section .blik-input {
  padding: 12px 16px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #072653;
  width: 100%;
  height: 48px;
}

.blik-code-section .info-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #072653;
  margin: 0;
  margin-bottom: 16px;
}

.blik-code-section .info-text a {
  color: #072653;
  text-decoration: underline;
}

.blik-code-section .blik-input:focus-visible {
  outline: none;
  border-color: #B9B9BB;
}

.blik-code-section .blik-input::-webkit-input-placeholder {
  color: #EEEDF0;
}

.blik-code-section .blik-input:-ms-input-placeholder {
  color: #EEEDF0;
}

.blik-code-section .blik-input::-moz-placeholder {
  color: #EEEDF0;
  opacity: 1;
}

.blik-code-section .blik-input:-moz-placeholder {
  color: #EEEDF0;
  opacity: 1;
}

.payment-option-blik.with-error .blik-code-section .error-message {
  display: block;
}

.blik-waiting {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin: 0 24px 16px 24px;
}

.error-message, .blik-master-error {
  color: #E82B2B;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 10px;
  display: none;
}

input:checked + .payment-option .blik-code-section {
  display: block;
  height: 134px;
}

input:checked + .payment-option.with-error .blik-code-section {
  height: auto;
}

input:checked + .payment-option-blik.loading .blik-code-section {
  height: 0;
}

.payment-option-blik.loading .blik-waiting {
  display: flex;
}

.payment-option input[type="radio"] {
  margin-right: 10px;
}

.payment-option .payment-title {
  margin-right: 12px;
  font-weight: 500;
  font-size: 18px;
}

.payment-option .check-ico {
  display: none;
  margin-left: auto;
  margin-right: 28px;
}

input:checked + .payment-option .check-ico {
  display: block;
}

.pay-button {
  display: none;
  width: 100%;
  padding: 15px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 7px 0 #00000026;
}

.label {
  color: #EEEDF0 !important;
}

.section-divider {
  margin-top: 16px;
  width: 100%;
  height: 2px;
  background-color: #2953C6;
}

@media only screen and (max-width: 400px) {
  input:checked + .payment-option .check-ico {
    display: none;
  }
}

.payment-confirmation-container {
  display: none;
  text-align: center;
  background-color: #fff;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.payment-confirmation-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 0;
}

.payment-confirmation-container.success::before {
  background-color: #EAFBF0;
}

.payment-confirmation-container.error::before {
  background-color: #FFDEDE;
}

.icon-wrapper {
  position: relative;
  margin-top: 8px;
  margin-bottom: 16px;
}

.message a,
.message p {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.message a {
  color: #072653;
}

.message .title {
  font-weight: 500;
  margin-bottom: 4px;
}

.message .subtitle {
  font-weight: 600;
}

.underline {
  width: 48px;
  height: 8px;
  margin: 16px auto;
}

.success .underline {
  background-color: #30D366;
}


.btn {
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.btn.blue {
  background-color: #2953C6;
  color: #fff;
}

.btn[disabled] {
  box-shadow: 0 2px 7px 0 #00000026;
  background-color: #EEEDF0;
  cursor: not-allowed;
  color: #B9B9BB;
}

.btn .spinner {
  display: none;
}

.btn.loading .spinner {
  display: inline-block;
}

.btn.loading .label {
  display: none;
}

.btn[disabled].blue.loading {
  background-color: #2953C6;
  box-shadow: none;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  //background-image: url("../img/spinner.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation: spinner 0.75s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}