.tpay-table input[data-global="can-be-global"][readonly="readonly"]{width:540px !important;color:transparent}.tpay-table .absolute-global fieldset{position:relative}.tpay-table .absolute-global fieldset span{position:absolute;left:10px;top:6px;display:block;width:540px;overflow:hidden}

