name: Static code analysis

on:
  push:

jobs:
  analyse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          extensions: none, curl, dom, mbstring, simplexml, tokenizer, xml, xmlwriter, fileinfo, json
          coverage: none

      - run: composer update --no-progress --classmap-authoritative

      - run: composer validate --strict

      - run: composer install

      - run: composer cs:fix:dry

      - run: composer cs:sniffer
