/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/@wordpress/scripts/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/@wordpress/scripts/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./scss/main.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
[class^="wc_payment_method payment_method_tpay"] label:not(.tpay-item) {
  display: flex !important;
  align-items: center;
}
[class^="wc_payment_method payment_method_tpay"] label:not(.tpay-item) img {
  margin-right: auto;
  padding-right: 8px;
  width: 50px;
}

[class^="wc_payment_method payment_method_pekao"] label:not(.tpay-item) {
  display: flex !important;
  align-items: center;
}
[class^="wc_payment_method payment_method_pekao"] label:not(.tpay-item) img {
  margin-right: auto;
  padding-right: 8px;
  width: 50px;
}

.tpay-blik0 {
  font-weight: 400;
  color: #072653;
}
.tpay-blik0 input:not([type=checkbox]):not([type=radio]) {
  height: 40px;
  padding: 0 10px;
  width: 100%;
  max-width: 200px !important;
}

.tpay-row .tpay-amPmCheckbox {
  display: flex !important;
  align-items: center;
}
.tpay-row .tpay-amPmCheckbox label {
  margin: 0 !important;
}

[class*=tpay-] + .tpay-accept-conditions {
  margin-top: 15px;
}

.tpay-accept-conditions {
  font-size: 13px;
  color: #676986;
}
.tpay-accept-conditions a {
  color: #1B2257;
  text-decoration: underline;
}

[class*=payment_method_tpay] .payment_box {
  background: #fff !important;
  padding: 15px !important;
}

[class*=payment_method_pekao] .payment_box {
  background: #fff !important;
  padding: 15px !important;
}

.tpay-sf {
  background: #fff;
  max-width: 750px;
  padding: 30px 0;
}
.tpay-sf .tpay-sf-form {
  max-width: 600px;
  background: linear-gradient(-280deg, #dfe3ea, #cbd1dd);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.tpay-sf .tpay-sf-form img {
  width: 50px;
  height: auto;
  margin-right: auto;
}
.tpay-sf .tpay-sf-form input:not([type=checkbox]):not([type=radio]) {
  height: 40px;
  padding: 0 10px;
  width: calc(100% - 30px);
  margin: 0;
}
.tpay-sf .tpay-sf-form .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tpay-sf .tpay-sf-form .card-container > div {
  width: 45%;
}
.tpay-sf .tpay-sf-form .card-container > div.card-number-container {
  width: 100%;
  padding-top: 0;
  margin-bottom: 10px;
}
.tpay-sf .tpay-sf-form .card-container > div.cvc-container {
  margin-right: auto;
}
.tpay-sf .tpay-sf-form .card-container label {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;
}
.tpay-sf .tpay-sf-form .card-container label input {
  width: 100%;
  margin: 6px auto 0;
  border: 1px solid #dfdede;
  border-radius: 5px;
  outline: 0;
}
.tpay-sf .tpay-sf-form .card-container label input[readonly=readonly] {
  filter: blur(2px);
}
.tpay-sf .tpay-sf-form .card-container label input:focus {
  border-color: #6dac97;
}
.tpay-sf .tpay-sf-form .card-container label input.valid {
  border-color: #6dac97;
}
.tpay-sf .tpay-sf-form .card-container label input.wrong {
  border-color: red;
}
.tpay-sf .tpay-sf-form .card-container label span {
  display: block;
}
.tpay-sf .tpay-sf-form .save-card {
  padding: 12px 0;
  display: flex;
  align-items: center;
}
.tpay-sf .tpay-sf-form .save-card input {
  margin-left: 8px;
  top: unset;
}
.tpay-sf .tpay-sf-form .saved-cards .saved-cards-title {
  padding: 12px 0;
  margin: 0;
}
.tpay-sf .tpay-sf-form .saved-cards label {
  display: flex;
  align-items: center;
}
.tpay-sf .tpay-sf-form .saved-cards label input {
  margin-left: 8px;
  top: unset;
}
.tpay-sf .tpay-sf-form .saved-cards label input[type=radio] {
  display: block !important;
}

.tpay-blik0 {
  background: #fff;
  max-width: 750px;
}
.tpay-blik0 .tpay_blik-payment-alias {
  cursor: pointer;
  margin: 5px;
  min-width: 350px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 1px solid #D8D8D8;
  font-family: inherit;
  min-height: 64px;
}
.tpay-blik0 .tpay_blik-payment-alias.active {
  border: 2px solid #2953C6;
  background: none;
}
.tpay-blik0 .tpay_blik-payment-alias .bottom {
  display: block;
  margin-right: 24px;
}
.tpay-blik0 .tpay_blik-payment-alias .top {
  display: flex;
  align-items: center;
  padding: 19px 24px 0 24px;
  position: relative;
}
.tpay-blik0 .tpay_blik-payment-alias .top label {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  color: inherit;
  width: 100%;
}
.tpay-blik0 .tpay_blik-payment-alias .top label .blik-label {
  font-size: 18px;
  font-weight: 700;
  margin-right: 12px;
  color: inherit;
}
.tpay-blik0 .tpay_blik-payment-alias .top img {
  width: 50px;
  height: auto;
  padding-right: 16px;
  margin-right: auto;
}
.tpay-blik0 .tpay_blik-payment-form {
  cursor: pointer;
  margin: 5px;
  min-width: 350px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 1px solid #D8D8D8;
  font-family: inherit;
  min-height: 64px;
}
.tpay-blik0 .tpay_blik-payment-form.active {
  border: 2px solid #2953C6;
  background: none;
}
.tpay-blik0 .tpay_blik-payment-form.active .bottom {
  display: block;
  margin-right: 60px;
}
.tpay-blik0 .tpay_blik-payment-form .top {
  display: flex;
  align-items: center;
  padding: 19px 24px 0 24px;
  position: relative;
}
.tpay-blik0 .tpay_blik-payment-form .top .spacer {
  width: 25px;
}
.tpay-blik0 .tpay_blik-payment-form .top label {
  width: calc(100% - 50px);
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  color: inherit;
}
.tpay-blik0 .tpay_blik-payment-form .top label .blik-label {
  font-size: 18px;
  font-weight: 700;
  margin-right: 12px;
  color: inherit;
}
.tpay-blik0 .tpay_blik-payment-form .top img {
  width: 50px;
  height: auto;
  margin-right: auto;
}
.tpay-blik0 .tpay_blik-payment-form .bottom {
  display: none;
  padding: 10px 0;
}
.tpay-blik0 .tpay_blik-payment-form .bottom div {
  font-size: 12px;
}
.tpay-blik0 .tpay_blik-payment-form .bottom .blik-input-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #1D1B20;
  margin: 0 4px 4px 0;
  display: block;
}
.tpay-blik0 .tpay_blik-payment-form .bottom input[type=text] {
  width: 90%;
  height: 48px;
  padding: 0 16px;
  margin: 0 auto 8px auto;
  border: 1px solid #2953C6;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #072653;
  text-align: right;
}
.tpay-blik0 .tpay_blik-payment-form .bottom input[type=text]::-moz-placeholder {
  color: #EEEDF0;
}
.tpay-blik0 .tpay_blik-payment-form .bottom input[type=text]::placeholder {
  color: #EEEDF0;
}
.tpay-blik0 .tpay_blik-payment-form .bottom input[type=text]:focus {
  border-color: #2953C6;
  outline: none;
}
.tpay-blik0 .tpay_blik-payment-form .bottom .blik-error {
  color: #D50000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-right: 24px;
}

.tpay-pbl-container {
  background: #fff;
  max-width: 750px;
  padding: 0;
}
.tpay-pbl-container .tpay-pbl {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 10px;
}
.tpay-pbl-container .tpay-pbl .tpay-item {
  width: 48%;
  margin: 0;
}
@media (min-width: 992px) {
  .tpay-pbl-container .tpay-pbl .tpay-item {
    width: 31%;
  }
}
.tpay-pbl-container .tpay-pbl .tpay-item input {
  display: none;
}
.tpay-pbl-container .tpay-pbl .tpay-item input:checked + div > div {
  border: 1px solid #6dac97;
  box-shadow: 0px 0px 15px 5px rgba(41, 83, 198, 0.15);
}
.tpay-pbl-container .tpay-pbl .tpay-item > div {
  padding: 5px;
}
.tpay-pbl-container .tpay-pbl .tpay-item > div > div {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px 0;
}
.tpay-pbl-container .tpay-pbl .tpay-item > div > div .tpay-group-logo-holder {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tpay-pbl-container .tpay-pbl .tpay-item > div > div .tpay-group-logo-holder img {
  width: 90px;
  height: auto;
}
.tpay-pbl-container .tpay-pbl .tpay-item > div > div .name {
  color: #808080;
  text-align: center;
  display: block;
  font-size: 13px;
}

.show-blik-info {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-right: 36px;
  text-decoration: underline;
  padding-bottom: 20px;
}
.show-blik-info.no-margin-left {
  margin-right: 0;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: 330px;
  background-color: #203759;
  color: #fff;
  text-align: center;
  padding: 12px 14px;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  bottom: 135%;
  right: 50%;
  transform: translateX(50%);
  transition: opacity 0.3s;
  font-size: 14px;
  line-height: 1.4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  border-width: 8px;
  border-style: solid;
  border-color: #203759 transparent transparent transparent;
}

.show-blik-info:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.pbl-error, .blik0-error {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: none;
}
.pbl-error:before, .blik0-error:before {
  top: 0.5em;
}

li.wc_payment_method[class*=payment_method_] > input[type=radio],
li.wc_payment_method[class*=payment_method_] > label {
  display: inline-block !important;
  vertical-align: middle;
}
li.wc_payment_method[class*=payment_method_] > input[type=radio] {
  margin-left: 10px !important;
}
li.wc_payment_method[class*=payment_method_] > label img {
  vertical-align: middle;
  margin-right: 5px;
}
li.wc_payment_method[class*=payment_method_] > input[type=radio],
li.wc_payment_method[class*=payment_method_] > label {
  float: none !important;
}
li.wc_payment_method[class*=payment_method_] .payment_box {
  clear: both;
  margin-top: 10px;
}

img.tpay-inline {
  position: absolute;
  margin: 0 8px 0 8px;
}

.installments-iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.installments-iframe-container {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

.installments-iframe-closeBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1001;
  background: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.installments-button {
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 8px 32px !important;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  line-height: 15.6px;
  font-size: 13px;
  transition: background-color 0.25s ease;
}

.installments-button.block {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.installments-button.product, .installments-button.cart, .installments-button.checkout {
  margin-bottom: 10px;
}

.installments-button.cart {
  width: 100%;
  align-items: center;
}

.installments-button:hover {
  background: #eeeeee;
}

.installments-button img {
  max-width: 114px;
}
